html,body{height: 100%;background-color: #bbb;}
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0

}
li{
    margin-left: 1em;
    
}
body > div{
    display: flex;
    background-color: white;
    box-shadow: 10px 10px 10px 0px;
    flex-direction: row;
    flex-wrap: nowrap;
}

body > div:nth-child(1){
    height: 18%;
    margin: 4% 5% 0 5%;
}
body > div:nth-child(2){
    height: 32%;
    margin: 3% 5% 0 5%;
}
body > div:nth-child(3){
    height: 22%;
    margin: 3% 5% 0 5%;
}
body > div:nth-child(4){
    height: 11%;
    margin: 3% 5% 4% 5%;
}

#title{
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}

#desc {
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}

a{
    text-align: center;
}

#d1{
    display: flex;
    flex-basis: 33.333%;
    justify-content: center;
    align-items: center;
}
#pfp{
    height: 80%;
}
#d2{
    flex-basis: 66.666%;
    align-content: center;

}
#d2 > p {
    padding: 5px 20px;
    font-size: 1.3rem;
}
#d3{
    display: block;
    flex-grow: 1;
    flex-basis: 33.333%;
    overflow-y: auto;

}
#d4{
    display: flex;
    flex-grow: 1;
    flex-basis: 33.333%;
    border-left: dashed 1px black;
    border-right: dashed 1px black;
    justify-content: center;
    align-items: center;
    
}
#d5{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-basis: 33.333%;
}
#d6{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: auto;
}
#d6 > div{
    width: 150px;
    height: 100px;
    flex-shrink: 0;
    border: 1px solid black;
}
#d7{
    display:flex;
    flex-flow: column;
    align-items: center;
    height: max-content;
    padding-bottom: 10px;
}
table{
    border-collapse: collapse;
    height: max-content;
    width: max-content;
}
td{
    padding: 10;
    text-align: center;
}
tr:first-child{
    td{
    border-bottom: solid 1px black;
    }
}
#center {
    text-align: center;
}