body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #1A121A;
    color: #F5E9F5;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #F7E6D9;
}

* {
    transition: 500ms;
}

header {
    width: 100%;
    background-color: #352335;
    display: flex;
    align-items: baseline;
    justify-content: center;

    #logo {
        margin: 10px 0;
        height: 100px;
    }

    #title {
        font-size: 60px;
        margin: 10px 0;
        color: #F7E6D9;
    }

    #darkMode {
        position: absolute;
        background-color: transparent;
        border: 0;

        img {
            width: 100px;
        }

        right: 20px;
    }
}

nav {
    width: 100%;
    background-color: #2A1F2D;
    display: flex;
    align-items: center;
    justify-content: center;

    p:first-child {
        border-left: 0;
    }

    p {
        font-weight: bold;
        margin: 10px 0;
        padding: 10px 30px;
        border-left: 2px solid #E08CBC;
        color: #F2A5D0;
        transition: 0s !important;
    }

    p:hover {
        background-color: #3A2A3C;
        box-shadow: inset 0 0 15px 10px #2A1F2D;
        transition: 0s !important;
    }

    a {
        color: #F5E9F5;
        text-decoration: none;
    }
}

main {
    display: flex;
    padding: 0 20%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    #mainIzqd {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        min-width: max-content;
        width: max-content;

        table {
            margin: 5%;
            border: solid 10px #E08CBC;
            border-collapse: collapse;
            background-color: #2A1F2D;

            th {
                padding: 15px 5px;
                border-bottom: solid 5px #E08CBC;
                color: #F2A5D0;
            }

            td {
                text-align: center;
                padding: 15px 10px;
                border-bottom: solid 3px #E08CBC;
                color: #C8AFC8;
            }
        }
    }

    #mainDcha {
        display: flex;
        min-width: 50%;
        width: min-content;
        flex-grow: 1;
        justify-content: center;
        overflow: auto;
        flex-wrap: wrap;

        img {
            margin-top: 5%;
            width: 300px;
            border-radius: 20px;
            box-shadow: 0 0 10px #000;
        }

        p {
            border: 3px solid #E08CBC;
            padding: 10px;
            color: #F2A5D0;
            background-color: #2A1F2D;
        }
    }

    #carrusel {
        border-radius: 4px;
        margin-top: 10%;
        height: 400px;
    }
}

main.productos {
    flex-direction: column;

    p {
        border: 3px solid #E08CBC;
        padding: 10px;
        color: #F2A5D0;
        background-color: #2A1F2D;
    }
    #productoSubmit{
        margin-top: 5px;
        margin-bottom:30px;
    }
}

footer {
    display: flex;
    height: 100px;
    background-color: #352335;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#producto {
    border: 2px solid black;
    color: white;
}

p.input {
    margin: 0;
    border: 2px solid transparent !important;
    padding: 1px 2px !important;
    background-color: transparent !important;
    font-size: 13.3333px;
    height: 15.5833px;
    margin-top: -21px;
    width: 172px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    pointer-events: none;
    overflow: hidden;
}

#placeholder {
    color: GRAY !important;
    z-index: 4;
}


#currentText {
    color: black !important;
    z-index: 5;
}